.headerSection {
  width: 100%;
  margin-inline: auto;
}

.header {
  width: 100%;
  background-color: #F1F1F5;
  position: fixed;
  top: 0;
  left: 0;
  height: 130px;
  margin-block: 0 42px;
  padding-inline: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;

}

.companyTitle {
  display: flex;
  align-items: center;
  gap: 18px;
  font-family: 'Outfit';
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  color: #171A1F;
  margin-inline-start: 268px;
}

.titleTag {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  color: #7f7f7f;
  padding-top: 7px;
}

.listStyles {
  display: flex;
  align-items: center;
  font-size: 24px;
  gap: 23px;
  cursor: pointer;
}

.listItems {
  display: flex;
  align-items: center;
  gap: 23px;
  
}

.toggleSidebar {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

.toggleSidebar:hover {
  color: red;
}

.profileList {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}



/* design for medium screen (tablet) */
@media (min-width: 641px) and (max-width: 1024px) {
  

  .header {
    height: 110px;
    margin-inline-start: 0;
  }

  .toggleSidebar {
    display: block;
  }

  .companyTitle {
    gap: 12px;
    font-family: 'Outfit';
    font-weight: 500;
    font-size: 30px;
    white-space: nowrap;
    margin-inline-start: 0;
  }

  .listStyles{
    font-size: 20px;
  }
}

/* design for small screen (mobile) */
@media (max-width: 640px) {


  .header {
    height: 90px;
    margin-inline-start: 0;
  }

  .companyTitle {
    gap: 12px;
    font-family: 'Outfit';
    font-weight: 500;
    font-size: 25px;
    white-space: nowrap;
    margin-inline-start: 0;
  }

  .titleTag {
    display: none;
  }

  .listStyles {
    font-size: 16px;
  }

  .toggleSidebar {
    display: block;
  }
}
