
.title{
  font-family: 'Outfit';
  font-weight: 500;
  font-size: 36px;
  line-height: 59px;
}

.docsGrid{
  margin-inline-start: 35px ;
  margin-block-end: 24px;
}

.gridHeadings{
  display: flex;
  justify-content: space-between;
}

.toggle{
  display: flex;
  align-items: center;
  position: relative;
}

.track{
  width: 45px;
  height: 18px;
  background-color: rgba(0, 146, 8, 0.4) ;
  border-radius: 9px;
}

.circle{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  left: 0;
  position: absolute;
  background-color: rgba(0, 146, 8, 1);
  cursor: pointer;
  transition: all 0.3s ease;
}

.circleClick{
  transform: translateX(20px);
}

.circleNotClick{
  transform: translateX(0);
}

.folderSection{
  margin-block-start: 24px;
}

/* Tablet Design */

@media (min-width: 641px) and (max-width: 1024px)
{
  .title{
    margin-block-start: 45px;
  }
}



@media (max-width: 640px) {
  .title{
    font-size: 20px;
    margin-top: 25px;
  }
  .titledesc{
    font-size: 10px;
  }

  .track{
    width: 25px;
  height: 12px
  }
  .circle{
    width: 16px;
    height: 16px;
  }
  .circleClick{
    transform: translateX(12px);
  }
  .docsGrid{
    margin-inline-start: 10px;
  }
}
